@media screen and (max-width: 1280px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 28px;
        font-weight: normal;
        color: #FFFFFF;
        border: 1px solid red;
    }
  }

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        font-weight: normal;
        color: #FFFFFF;
        border: 1px solid red;
    }
}