.header__lang-link {
    display: flex;
    width: 30px;
    height: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: 1px solid red;
}

.header__lang-link:nth-child(2) { 
    text-decoration-line: underline;
    margin-right: 18px;
    margin-left: auto;
  } 