.place__title {
    font-style: normal;
    display: flex;
    align-self: flex-end;
    margin: 0;
    grid-area: title;
    font-weight: 900;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 106%;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 48px;
        letter-spacing: 0.8px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__title {
        width: 288px;
        font-size: 32px;
        line-height: 109%;
        margin-bottom: 32px;
    }
}