@media screen and (max-width:1280px) {
    .place__title {
        display: flex;
        margin: 0;
        grid-area: title;
        border: 1px solid red;
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;
        color: #FFFFFF;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        display: flex;
        margin: 0;
        grid-area: title;
        border: 1px solid red;
        font-weight: 900;
        font-size: 42px;
        line-height: 110%;
        color: #FFFFFF;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        display: flex;
        margin: 0;
        width: 288px;
        grid-area: title;
        border: 1px solid red;
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
        color: #FFFFFF;
        margin-bottom: 32px;
    }
}