.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
    max-height: 6875px;
    background: #2A2C2F;
    align-items: center;

    font-family: 'Inter';
    border: 1px solid red;
}