@media screen and (min-width: 897px) {
    .places {
        margin: 0;
        margin-top: 92px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        border: 1px solid red;
        grid-row-gap: 80px;
    }
}
  
@media screen and (min-width: 481px) and (max-width: 896px) {
    .places {
        margin: 0;
        margin-top: 88px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        border: 1px solid red;
        grid-row-gap: 73px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .places {
        margin: 0;
        margin-top: 64px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        border: 1px solid red;
        grid-row-gap: 50px;
    }
}