@media screen and (max-width:1280px) {
    .lead {
        margin: 0;
        display: flex;
        align-self: center;
        flex-flow: column;
        align-items: center;
        width: 984px;
        border: 1px solid red;
        margin-top: 56px;
    }
  }

@media screen and (max-width: 1024px) {
    .lead {
        margin: 0;
        display: flex;
        align-self: center;
        flex-flow: column;
        align-items: center;
        width: 928px;
        border: 1px solid red;
        margin-top: 48px;
    }
  }

@media screen and (max-width: 768px) {
  .lead {
      margin: 0;
      display: flex;
      align-self: center;
      flex-flow: column;
      align-items: center;
      width: 768px;
      border: 1px solid red;
      margin-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
      margin: 0;
      display: flex;
      align-self: center;
      flex-flow: column;
      align-items: center;
      width: 320px;
      border: 1px solid red;
      margin-top: 48px;
  }
}