@media screen and (min-width: 1153px) {
    .lead {
        margin: 0;
        display: flex;
        align-self: center;
        flex-flow: column;
        align-items: center;
        width: 984px;
        border: 1px solid red;
        margin-top: 56px;
    }
  }

  @media screen and (min-width: 897px) and (max-width: 1152px) {
    .lead {
        margin: 0;
        display: flex;
        align-self: center;
        flex-flow: column;
        align-items: center;
        width: 928px;
        border: 1px solid red;
        margin-top: 48px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 896px) {
  .lead {
      margin: 0;
      display: flex;
      align-self: center;
      flex-flow: column;
      align-items: center;
      width: 768px;
      border: 1px solid red;
      margin-top: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .lead {
      margin: 0;
      display: flex;
      align-self: center;
      flex-flow: column;
      align-items: center;
      width: 320px;
      border: 1px solid red;
      margin-top: 48px;
  }
}