.main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .main {
        max-width: 1280px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .main {
        max-width: 1024px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main {
        width: 768px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .main {
        width: 320px;
    }
}