@media screen and (min-width: 1153px) {
    .main {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 1280px;
    }
}

@media screen and (min-width: 897px) and (max-width: 1152px) {
    .main {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 1024px;
    }
}

@media screen and (min-width: 481px) and (max-width: 896px) {
    .main {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 768px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .main {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 320px;
    }
}