@media screen and (max-width:1280px) {
    .cover__subtitle {
        display: flex;
        grid-area: backgrnd;
        width: 360px;
        font-weight: normal;
        font-size: 18px;
        line-height: 122%;
        text-align: center;
        margin: auto;
        margin-bottom: 245px;
        z-index: 1;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        display: flex;
        grid-area: backgrnd;
        width: 360px;
        font-weight: normal;
        font-size: 18px;
        line-height: 122%;
        text-align: center;
        margin: auto;
        margin-bottom: 195px;
        z-index: 1;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        display: flex;
        grid-area: backgrnd;
        width: 360px;
        font-weight: normal;
        font-size: 18px;
        line-height: 122%;
        text-align: center;
        margin: auto;
        margin-bottom: 115px;
        z-index: 1;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        display: flex;
        grid-area: backgrnd;
        width: 288px;
        font-weight: normal;
        font-size: 14px;
        line-height: 114%;
        text-align: center;
        margin: auto;
        margin-bottom: 33px;
        z-index: 1;
        color: #FFFFFF;
    }
}