@media screen and (min-width: 1153px) {
  .header {
      display: flex;
      width: 1184px;
      height: 52px;
      margin: 0;
      margin-top: 28px;
      border: 1px solid red;
      flex-flow: row;
  }
}

@media screen and (min-width: 897px) and (max-width: 1152px) {
  .header {
      display: flex;
      width: 928px;
      height: 52px;
      margin: 0;
      margin-top: 28px;
      border: 1px solid red;
      flex-flow: row;
  }
}

@media screen and (min-width: 481px) and (max-width: 896px) {
  .header {
      display: flex;
      width: 720px;
      height: 52px;
      margin: 0;
      margin-top: 28px;
      border: 1px solid red;
      flex-flow: row;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
      display: flex;
      width: 288px;
      height: 42px;
      margin: 0;
      margin-top: 16px;
      border: 1px solid red;
      flex-flow: row;
  }
}