.place__paragraphs {
    display: flex;
    flex-flow: column;
    grid-area: paragraph;
    font-weight: normal;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    .place__paragraphs {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraphs {
        font-size: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__paragraphs {
        width: 288px;
        font-size: 16px;
    }
}