.footer__link {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin: 0;
    margin-right: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.8;
    transition: linear 0.2s;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 112%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 112%;
        margin-bottom: 32px;
    }
}
