.place__paragraph {
    display: flex;
    flex-flow: column;
    grid-area: paragraph;
    font-weight: normal;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph p {
    margin: 0;
    margin-bottom: 26px;
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .place__paragraph {
        width: 288px;
        font-size: 16px;
    }
}

