.footer__copyright {
    display: flex;
    border: 1px solid red;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    margin-left: auto;
    color: #FFFFFF;
}