@font-face{

    font-family: 'Inter';

    src: url('./Inter-Light.otf');

    font-weight: normal;

    font-style: normal; 
}

@font-face{

    font-family: 'Inter';

    src: url('./Inter-Medium.otf');

    font-weight: bold;

    font-style: normal; 
}

@font-face{

    font-family: 'Inter';

    src: url('./Inter-ExtraBold.otf');

    font-weight: 900;

    font-style: normal; 
}