.lead__image {
    display: flex;
    box-sizing:border-box;
    justify-content: center;
    align-items: flex-start;
    background: url(../../../images/lead-polka.jpg);
    background-size: 100% 100%;
}

@media screen and (min-width: 1280px) {
    .lead__image {
        margin-top: 64px;
        width: 984px;
        height: 615px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        margin-top: 56px;
        width: 928px;
        height: 580px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__image {
        margin-top: 56px;
        width: 768px;
        height: 480px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__image {
        margin-top: 40px;
        width: 320px;
        height: 200px;
    }
}