@media screen and (max-width:1280px) {
    .lead__image {
        display: flex;
        box-sizing:border-box;
        justify-content: center;
        align-items: flex-start;
        margin-top: 64px;
        Width: 984px;
        Height: 615px;
        background: url(../../../images/lead-polka.jpg);
        background-size: 100% 100%;
        border: 1px solid red;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        display: flex;
        box-sizing:border-box;
        justify-content: center;
        align-items: flex-start;
        margin-top: 56px;
        Width: 928px;
        Height: 580px;
        background: url(../../../images/lead-polka.jpg);
        background-size: 100% 100%;
        border: 1px solid red;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        display: flex;
        box-sizing:border-box;
        justify-content: center;
        align-items: flex-start;
        margin-top: 56px;
        Width: 768px;
        Height: 480px;
        background: url(../../../images/lead-polka.jpg);
        background-size: 100% 100%;
        border: 1px solid red;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        display: flex;
        box-sizing:border-box;
        justify-content: center;
        align-items: flex-start;
        margin-top: 40px;
        Width: 320px;
        Height: 200px;
        background: url(../../../images/lead-polka.jpg);
        background-size: 100% 100%;
        border: 1px solid red;
    }
}