@media screen and (min-width: 1153px) {
    .intro {
        margin: 0;
        width: 690px;
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        border: 1px solid red;
        margin-top: 92px;
        margin-left: 148px;
    }
}
  
@media screen and (min-width: 897px) and (max-width: 1152px) {
    .intro {
        margin: 0;
        width: 690px;
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        border: 1px solid red;
        margin-top: 92px;
        margin-left: 48px;
    }
}

@media screen and (min-width: 481px) and (max-width: 896px) {
    .intro {
        margin: 0;
        width: 720px;
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        border: 1px solid red;
        margin-top: 88px;
        margin-left: 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .intro {
        margin: 0;
        width: 288px;
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        border: 1px solid red;
        margin-top: 64px;
        margin-left: 16px;
    }
}
  