@media screen and (max-width:1280px) and (max-height: 6875px) {
    .intro {
        margin: 0;
        width: 690px;
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        border: 1px solid red;
        margin-top: 92px;
        margin-left: 148px;
    }
}
  
@media screen and (max-width: 1024px) and (max-height: 6895px) {
    .intro {
        margin: 0;
        width: 690px;
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        border: 1px solid red;
        margin-top: 92px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) and (max-height: 6855px) {
    .intro {
        margin: 0;
        width: 720px;
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        border: 1px solid red;
        margin-top: 88px;
        margin-left: 24px;
    }
}
  