@media screen and (min-width: 481px) {
    .website {
        display: flex;
        flex-flow:column;
        justify-content: flex-end;
        grid-area: website;
        border: 1px solid red;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .website {
        display: flex;
        flex-flow:column;
        justify-content: flex-end;
        width: 288px;
        grid-area: website;
        border: 1px solid red;
        margin-bottom: 32px;
    }
}