@media screen and (min-width: 1153px) {
    .cover__title {
        display: flex;
        grid-area: backgrnd;
        width: 560px;
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;
        text-align: center;
        margin: auto;
        margin-top: 245px;
        z-index: 1;
        color: #FFFFFF;
        text-decoration: none;
    }
}

@media screen and (min-width: 897px) and (max-width: 1152px) {
    .cover__title {
        display: flex;
        grid-area: backgrnd;
        width: 560px;
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;
        text-align: center;
        margin: auto;
        margin-top: 195px;
        z-index: 1;
        color: #FFFFFF;
        text-decoration: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 896px) {
    .cover__title {
        display: flex;
        grid-area: backgrnd;
        width: 560px;
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;
        text-align: center;
        margin: auto;
        margin-top: 115px;
        z-index: 1;
        color: #FFFFFF;
        text-decoration: none;
    }  
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .cover__title {
        display: flex;
        grid-area: backgrnd;
        width: 288px;
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
        text-align: center;
        margin: auto;
        margin-top: 33px;
        z-index: 1;
        color: #FFFFFF;
        text-decoration: none;
    }  
}