.cover__title {
    margin: 0 auto;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .cover__title {
        width: 560px;
        font-size: 72px;
        line-height: 106%;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 109%;
        margin-bottom: 16px;
    }
}