.website__link {
    display: flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.website__link:hover {
    opacity: 0.8;
    transition: linear 0.2s; 
}