.footer {
    display: flex;
    margin-bottom: 24px;
}

@media screen and (min-width: 1280px) {
    .footer {
        align-items: center;
        margin-top: 92px;
        width: 1184px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        align-items: center;
        margin-top: 92px;
        width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        align-items: center;
        margin-top: 88px;
        width: 720px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        flex-flow: column;
        align-self: flex-start;
        align-items: flex-start;
        width: auto;
        margin-top: 64px;
        margin-left: 16px;
    }
}