.place__url-heading {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.2em;
    margin-bottom: 12px;
    color: #AAAAAA;
}

@media screen and (min-width: 1024px) {
    .place__url-heading {
        line-height: 170%;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .place__url-heading {
        line-height: 100%;
    }
}