.place__website {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    grid-area: website;
}

@media screen and (min-width: 768px) {
    .place__website {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__website {
        width: 288px;
        margin-bottom: 32px;
    }
}